<h1 class="text-center text-light">Nuevo cliente</h1>
<div class="container bg-primary text-center p-3 ">

  <%= render "form", client: @client %>
</div>

<br>

<div>
  <%= link_to "Back to clients", clients_path, class:"btn btn-info" %>
</div>
